.gradient-background {
  background: linear-gradient(
    157deg,
    #370d4e,
    #33d375,
    #135e06,
    #d54fb9,
    #a335f0,
    #cd0276
  );
  background-size: 360% 360%;
  animation: gradient-animation 4s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
